<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'libs/css/semantic.css' %}">
  <link rel="stylesheet/less" href="{% static 'todo/css/todo.less' %}">
</head>
<body ng-app="todoApp">
<div ui-view></div>
<script type='text/javascript' src="{% static 'libs/js/jquery-1.11.3.js' %}"></script>
<script type='text/javascript' src="{% static 'libs/less/less-1.3.3.min.js' %}"></script>
<script type='text/javascript' src="{% static 'libs/js/angular.js' %}"></script>
<script type='text/javascript' src="{% static 'libs/js/angular-ui-router.min.js' %}"></script>
<script type='text/javascript' src="{% static 'libs/js/semantic.js' %}"></script>
<script type='text/javascript' src="{% static 'todo/js/todo-controller.js' %}"></script>
</body>
</html>
