{% load i18n %}
<div class="ui inverted menu pointing main large">
  <div class="nav-container">
    <a class="active item" href="./#/plan">
      <i class="eyedropper icon"></i>
      {% trans '计划' %}
    </a>
    <a class="item" href="./#/report">
      <i class="file text icon"></i>
      {% trans '日/周/月报' %}
    </a>
  </div>
</div>

<div class="plan-main">
  <div ui-view></div>
</div>

<div class="ui left vertical visible inverted labeled icon sidebar menu">
  <a class="item" ui-sref=".day">
    <i class="home icon"></i>
    {% trans '日计划' %}
  </a>
  <a class="item" ui-sref=".week">
    <i class="block layout icon"></i>
    {% trans '周计划' %}
  </a>
  <a class="item" ui-sref=".month">
    <i class="smile icon"></i>
    {% trans '月计划' %}
  </a>
</div>
