{% load staticfiles %}
{% load i18n %}
<div class="ui menu pointing main large">
  <div class="nav-container">
    <a class="active item" href="./#/plan">
      <i class="eyedropper icon"></i>
      {% trans '计划' %}
    </a>
    <a class="item" href="{% url 'report' %}">
      <i class="file text icon"></i>
      {% trans '日/周/月报' %}
    </a>
    <div class="ui icon right dropdown item">
      <i class="user icon"></i>
      {{ request.user  }}
      <i class="icon dropdown"></i>
      <div class="menu">
        <a class="item"><i class="settings icon"></i>{% trans '设置' %}</a>
        <a class="item"><i class="idea icon"></i>{% trans '帮助' %}</a>
        <a class="item" href="{% url 'logout' %}"><i class="sign out icon"></i>{% trans '退出' %}</a>
      </div>
    </div>
  </div>
</div>
<i class="nav-menu bordered large inverted blue content icon" sidebar-switch></i>
<div ui-view>
  <div class="plan-main">
    <div class="ui grid">
    <!-- div class="thirteen wide column">
      <div class="ui segment">
      </div>
    </div -->
      <div class="sixteen wide column">
        <div class="ui segment">
          <div id="pie" draw-pie></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="ui left vertical labeled icon sidebar menu">
    <a class="item" ui-sref=".day" sidebar-switch>
      <i class="home icon"></i>
      {% trans '日计划' %}
    </a>
    <a class="item" ui-sref=".week" sidebar-switch>
      <i class="block layout icon"></i>
      {% trans '周计划' %}
    </a>
    <a class="item" ui-sref=".month" sidebar-switch>
      <i class="smile icon"></i>
      {% trans '月计划' %}
    </a>
  </div>
<script>
  $('.ui.dropdown').dropdown();
</script>
