<div class="plan-main">
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui form">
        <div class="ui fluid action input">
          <input type="text" placeholder="add new plan" ng-model='pushData' required>
          <div class="ui primary button icon" ng-click="send()">
            <i class="plus icon"></i>
            ADD
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui segment">
        <div class="ui divided list">
        <div class="item" ng-repeat="item in data track by $index" ng-hide="item.ishide">
          <div class="right floated compact ui red label del-label" ng-click="delete(item.id)">
            <i class="remove icon"></i> 删除
          </div>
          <div class="right floated compact ui blue label">
            <i class="wait icon"></i><span ng-bind="item.time"></span>
          </div>
          <input
            type="checkbox"
            ng-model="checkboxStatus"
            ng-change="statusChange(item.id, checkboxStatus)"
            ng-checked="item.status"
          >
        <label ng-bind="item.content" ng-class="{done: item.status}"></label>
       </div>
      </div>

        <div class="ui indicating small progress" data-value="30" data-total="50" plan-progress>
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="five wide column">
      <div class="ui segment">
      </div>
    </div>
  </div>
</div>
