<div class="plan-main">
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui form">
        <div class="ui fluid action input">
          <input type="text" placeholder="add new plan">
          <div class="ui primary button icon" ng-model='todo.content'>
            <i class="plus icon"></i>
            ADD
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui segment">
        month
      </div>
    </div>
    <div class="five wide column">
      <div class="ui segment">
      </div>
    </div>
  </div>
</div>
