{% load i18n %}
<div class="plan-main">
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui breadcrumb">
        <a class="section">计划</a>
        <i class="right chevron icon divider"></i>
        <div class="active section"><span ng-bind="addr"></span></div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui form">
        <div class="ui fluid action input" add-animate>
          <input type="text" placeholder="add new plan" ng-model='pushData' required set-focus>
          <div class="ui primary button icon" ng-click="send()">
            <i class="plus icon"></i>
            ADD
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <div class="ui segment">
        <div class="ui indicating small progress" plan-progress>
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>
        <div class="ui divided list">
        <div class="item data-list" ng-repeat="item in data track by $index" ng-hide="item.ishide">
          <div class="right floated ui floating icon dropdown" drop-down>
            <i class="bordered blue angle double down icon"></i>
            <div class="right menu">
              <div class="item">
                <i class="edit icon"></i>编辑
              </div>
              <div class="item">
                <i class="pointing right icon"></i>
                <span class="text">延后</span>
                <i class="caret right icon"></i>
                <div class="right menu">
                  <div class="item">一天</div>
                  <div class="item">两天</div>
                  <div class="item">三天</div>
                  <div class="item">四天</div>
                </div>
              </div>
              <div class="item" ng-click="delete(item.id)">
                <i class="remove icon"></i> 删除
              </div>
            </div>
          </div>

          <div class="right floated compact ui label">
            <i class="wait icon"></i><span ng-bind="item.time"></span>
          </div>
          <input
            type="checkbox"
            ng-model="checkboxStatus"
            ng-change="statusChange(item.id, checkboxStatus)"
            ng-checked="item.status"
          >
        <label ng-bind="item.content" ng-class="{done: item.status}"></label>
       </div>
      </div>

      </div>
    </div>
    <div class="five wide column">
      <div class="ui segment">
      </div>
    </div>
  </div>
</div>
