<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% trans '注册' %}</title>
  <link rel="stylesheet" href="{% static 'libs/css/semantic.css' %}">
  <link rel="stylesheet/less" type="text/css" href="{% static 'users/css/users.less' %}" />
  <script type='text/javascript' src="{% static 'libs/less/less-1.3.3.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'libs/js/angular.js' %}"></script>
  <script type='text/javascript' src="{% static 'users/js/controller.js' %}"></script>
</head>
<body ng-app="registerApp" ng-controller="registerCtrl">
  <form class="ui form" method="POST" name="registerForm" ng-submit="submitRegisterForm()" novalidate>
    {% csrf_token %}
    <div class="inline field required" ng-class="{error: registerForm.username.$dirty && registerForm.username.$invalid}">
      <label for="id_username">用户名:</label>
      <div class="ui input icon">
        <input
          type="text"
          id="id_username"
          name="username"
          ng-model="user.username"
          required
          ng-minlength="3"
          ng-maxlength="10"
        />
        <i class="icon checkmark" ng-show="registerForm.username.$dirty && registerForm.username.$valid"></i>
      </div>
      <div></div>
    </div>
    <div class="inline field required" ng-class="{error: registerForm.password1.$dirty && registerForm.password1.$invalid}">
      <label for="id_password1">请输入密码:</label>
      <div class="ui input icon">
        <input
          value="123"
          type="password"
          id="id_password1"
          name="password1"
          ng-model="user.password1"
          required
          ng-minlength="5"
        />
        <i class="icon checkmark" ng-show="registerForm.password1.$dirty && registerForm.password1.$valid"></i>
      </div>
    </div>
    <div class="inline field required" ng-class="{error: registerForm.password2.$dirty && registerForm.password2.$invalid}">
      <label for="id_password2">请确认密码:</label>
      <div class="ui input icon">
        <input
          type="password"
          id="id_password2"
          name="password2"
          ng-model="user.password2"
          ng-minlength="5"
          password-verify
          required
        />
        <i class="icon checkmark" ng-show="registerForm.password2.$dirty && registerForm.password2.$valid"></i>
      </div>
    </div>
    <span ng-show="registerForm.password2.$error.noMath">no math</span>
    <div class="inline field required" ng-class="{error: registerForm.email.$dirty && registerForm.email.$invalid}">
      <label for="id_email">电子邮箱:</label>
      <div class="ui input icon">
        <input
          type="email"
          id="id_email"
          name="email"
          ng-model="user.email"
          required
        />
        <i class="icon checkmark" ng-show="registerForm.email.$dirty && registerForm.email.$valid"></i>
      </div>
    </div>
    <button type="submit" class="ui primary button" ng-class="{disabled: registerForm.$invalid}">{% trans '注册' %}</button>
  </form>
</body>
</html>
